# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
Debug/
Release/
x64/
x86/

# Rider / VS Code
.idea/
.vscode/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# Publish
publish/
Publish/
*.zip
*.rar

# NuGet
*.nupkg
packages/